@charset "UTF-8";
/*==============================PARÁGRAFOS===================================*/
p{
    font-family: Arial, Helvetica, sans-serif;
}
/*==================================BODY=====================================*/
body{
    background: url('../_imagens/protera-wallpaper-compactado.jpg') no-repeat;

}
/*==================================LOGO======================================*/
figure#logo{
    padding: 0px;
    margin: 0px;
}
figure#logo img{
    width: 150px;
    height: 150px;
}
/*===========================Estrutura do Site=================================*/
header#cabecalho{

}
/*==================Menu===================*/
nav#menu{
    background-color: rgba(35,35,35,1);
    position: absolute;
    width: 1200px;
    height: 150px;
    top: 0px;
    left: 175px;
}
nav#menu a{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24pt;
    transition: color .s;
}
nav#menu a:hover{
    color: red;
}
nav#menu ul{
    position: absolute;
    top: 35px;
    left: -70px;
}
nav#menu li{
    display: inline-block;
    margin-left: 150px;
    border-bottom: 2px #606060 solid;
}

